[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
statsmodels = "*"
torch = "*"
torchvision = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.11"
